# DATABASES_URL=postgresql://postgres:postgres@localhost:5432/postgres
DATABASES_NAME=postgres
DATABASES_USER=postgres
DATABASES_PASSWORD=postgres
DATABASES_HOST=localhost
DATABASES_PORT=5432

# CLOUDINARY_URL=cloudinary://<CLOUD_API_KEY>:<CLOUD_API_SECRET>@<CLOUD_NAME>
CLOUD_NAME=datxdx0wi
CLOUD_API_KEY=184473625555977
CLOUD_API_SECRET=Sq4bTQTfaTVDbDLeJ3yeCr4WvC8
